
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
      <!-- Profile Picture & User Info -->

      <div class="col-md-3 border-right">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
          <img
            class="profile-image"
            [src]="previewImage || profileForm.get('profileImage')?.value || usrProfile?.profileImage"
          />
          <input type="file" #fileInput accept="image/*" (change)="onImageSelected($event)" hidden />
          <button type="button" class="btn btn-outline-primary btn-sm" (click)="fileInput.click()">Choose Image</button>

          <span class="font-weight-bold">
            {{ profileForm.get('firstName')?.value }} {{ profileForm.get('lastName')?.value }}
          </span>
          <span class="text-black-50">{{ profileForm.get('email')?.value }}</span>
        </div>
      </div>

      <!-- Profile Form -->
      <div class="col-md-5 border-right">
        <div class="p-3 py-5">


          <div class="row mt-2">
            <div class="col-md-6">
              <label class="labels">First Name</label>
              <input type="text" formControlName="FirstName" class="form-control" placeholder="First name" />
            </div>
            <div class="col-md-6">
              <label class="labels">Last Name</label>
              <input type="text" formControlName="LastName" class="form-control" placeholder="Last name" />
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-6">
              <label class="labels">Username</label>
              <input type="text" formControlName="Username" class="form-control" placeholder="Username" />
            </div>
            <div class="col-md-6">
              <label class="labels">Email</label>
              <input type="email" formControlName="Email" class="form-control" placeholder="Email" />
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-6">
              <label class="labels">Phone Number</label>
              <input type="text" formControlName="PhoneNumber" class="form-control" placeholder="Phone" />
            </div>
            <div class="col-md-6">
              <label class="labels">City</label>
              <input type="text" formControlName="City" class="form-control" placeholder="City" />
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-6">
              <label class="labels">Age</label>
              <input type="number" formControlName="Age" class="form-control" placeholder="Age" />
            </div>
            <div class="col-md-6">
              <label class="labels">Role</label>
              <select class="form-control" formControlName="RoleID">
                <option *ngFor="let role of roles" [value]="role.roleId">
                  {{ role.roleName }}
                </option>
              </select>
            </div>

          <div class="row mt-3">
            <div class="col-md-6" style="display: none">
              <label class="labels">Role ID</label>
              <input type="text" formControlName="RoleID" class="form-control"  />
            </div>
            <div class="col-md-6">
              <label class="labels">Created At</label>
              <input type="text" formControlName="CreatedAt" class="form-control"  />
            </div>
          </div>

          <div class="mt-5 text-center">
            <button type="submit" class="btn btn-primary" *ngIf="!showProgressbar">Save Profile</button>
            <div class="spinner-border text-primary" role="status" *ngIf="showProgressbar">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

</form>





