/*body {*/
/*  background-color: #f8f9fa;*/
/*}*/
/*.profile-card {*/
/*  background: white;*/
/*  padding: 30px;*/
/*  border-radius: 10px;*/
/*  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
/*  text-align: center;*/
/*  max-width: 400px;*/
/*  margin: auto;*/
/*  transition: transform 0.3s;*/
/*}*/
/*.profile-card:hover {*/
/*  transform: scale(1.05);*/
/*}*/
/*.profile-image {*/
/*  width: 150px;*/
/*  height: 150px;*/
/*  border-radius: 50%;*/
/*  border: 4px solid #007bff;*/
/*  object-fit: cover;*/
/*}*/
/*.contact-info {*/
/*  font-size: 1.1em;*/
/*}*/
/*.btn-container {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  margin-top: 20px;*/
/*}*/

body {
  background: rgb(99, 39, 120)
}

.form-control:focus {
  box-shadow: none;
  border-color: #BA68C8
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #682773
}

.profile-button:focus {
  background: #682773;
  box-shadow: none
}

.profile-button:active {
  background: #682773;
  box-shadow: none
}

.back:hover {
  color: #682773;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #BA68C8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #BA68C8
}body {
   background: rgb(99, 39, 120)
 }

.form-control:focus {
  box-shadow: none;
  border-color: #BA68C8
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #682773
}

.profile-button:focus {
  background: #682773;
  box-shadow: none
}

.profile-button:active {
  background: #682773;
  box-shadow: none
}

.back:hover {
  color: #682773;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #BA68C8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #BA68C8
}

.toast-container {
  position: fixed;
  z-index: 9999;
  bottom: 1rem;
  right: 1rem;
}


.toast {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.toast.show {
  opacity: 1;
  visibility: visible;
}

.toast.hide {
  opacity: 0;
  visibility: hidden;
}
