
<div class="wrapper ">
    <app-side-bar></app-side-bar>
    
    <div class="main-panel">
    <app-navbar></app-navbar>
    
    
<div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header ">
            Google Maps
          </div>
          <div class="card-body ">
            <div id="map" class="map"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <app-footer></app-footer>
</div>
</div>