<div class="sidebar" data-color="white" data-active-color="danger">
  <div class="logo" style="height: 10.5%; ">
    <img src='../../../assets/AdminDash/img/SideBarlogo.png' style="height: 100%;">
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li
        *ngFor="let item of menuItems; let i = index"
        [ngClass]="{
          active: isActive(item.route) || (isNoneActive() && i === 0)
        }"
      >
        <a [routerLink]="item.route">
          <i class="{{ item.icon }}"></i>
          <p class="navFont">{{ item.label }}</p>
        </a>
      </li>
      <li>
        <a (click)="logout()">
          <i class="nc-icon nc-cloud-download-93"></i>
          <p class="navFont">Logout</p>
        </a>
      </li>
    </ul>
  </div>
</div>

