::ng-deep div.sidebar-wrapper{
    background: linear-gradient(to bottom, #8000ff49,#2f284ed7)!important;
    /* background-color: #8000ff49!important; */
    overflow: scroll; 
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

::ng-deep div.logo{
    background-color: #8000ff49!important;
}



::ng-deep li.active {
    background-size: 100% 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}



::ng-deep p.navFont{
    font-size: medium;
    color: #000000c9;
    font-family: "ZCOOL XiaoWei", sans-serif;
    font-weight: 600;
    font-style: normal;
} 

::ng-deep li.active p.navFont{
    font-size: medium;
    font-weight: 600;
    color: #7f00ff;
    
} 



::ng-deep li i.nc-icon{
    color: #000000fd!important;    
    font-weight: 600;
} 

::ng-deep li.active i.nc-icon{
    color: #7f00ff!important;    
    font-weight: 700;
} 


::ng-deep li:hover i.nc-icon{
    color: #7f00ff!important;    
    font-weight: 600;
}
::ng-deep li:hover p.navFont{
    font-size:medium;
    font-weight:600;
    color: #7f00ff;
}


::ng-deep li{
    background-image: linear-gradient(to left, #8000ff49,#ffffffec);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: left;
    transition: background-size 500ms ease-in-out;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

::ng-deep li:hover{
    background-size: 100% 100%;
}

::ng-deep li:active{
    background-size: 100% 100%;
}